<launch>

    <!-- Location of joystick -->
    <param name="joy_node/dev" type="string" value="/dev/input/js1" />

    <!-- Joystick Mappings -->
    <rosparam command="load" ns="joy_mappings" file="$(find l2bot_examples)/config/js_mappings.yaml" />

    <!-- launch joystick node -->
    <node name="joy_node" type="joy_node" pkg="joy" />

    <!-- launch l2bot interface -->
    <include file="$(find l2bot)/launch/l2bot.launch" />

    <!-- launch joy_nav example -->
    <node name="joy_nav" pkg="l2bot_examples" type="joy_nav" />

</launch>
